.app {
  min-height: 100%;
  font-family: Georgia, "Times New Roman", Times, serif;
}

footer {
  width: 100%;
}

.scrollButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 5px 10px 0 10px;
  font-size: 30px;
  color: white;
  background-color: #eabf6b;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.9;
  transition: 0.3s ease-in-out;
}

.scrollButton:hover {
  opacity: 1;
  border-radius: 50%;
  transform: rotate(360deg);
}
